/* Roboto Regular and Bold */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.content {
  background-color: #fff;
  max-width: 940px;
  margin: 0 auto;
}

.link-logo {
  margin:0;
  padding: 0;
  border: 0;
}

header {
  padding: 30px 0px;
}

header, main {
  max-width: 940px;
}

.logo, nav {
  display: inline-block;
  vertical-align: middle;
}

nav {
  margin-left: 10vw;
}

nav a {
  font-size: 16;
  line-height: 19px;
  color: #111111;
  text-decoration: none;
  margin: 0 15px;
}

.banner {
  max-width: 940px;
  height: 366px;
  min-width: 600px;
  background-color: #FBDFDB;
  border-radius: 30px;
  position: relative;
  display: flex;
	flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.banner img {
  position: absolute;
  right: 100px;
  bottom: 0;
}

.banner-text {
  max-width: 31vw;
  margin-left: 60px;
}

.banner-text .title {
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
  color: #111111;
  margin-bottom: 10px;
}


.banner-text .text {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  color: #111111;
  opacity: 0.7;
}

.wrapper {
  max-width: 940px;
}

.wrapper h1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #111111;
}

.cards {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  width: 100%;
}

.card img {
  max-width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.img-title {
  font-size: 18px;
  line-height: 21px;
  color: #111111;
  margin-bottom: 5px;
  text-align: center;
}

.img-chef {
  font-size: 14px;
  line-height: 16px;
  color: #777777;
  margin-bottom: 10px;
  text-align: center;
}


footer {
  max-width: 100%;
  height: 62px;
  margin-top: 40px;
  background-color: #EEEEEE;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer p {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  text-align: center;
}

/* ABOUT */

.about h1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #111111;
  margin-top: 20px;
}

.about h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #111111;
}

.about p {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  padding: 20px 0;
  text-align: justify;
}

/* RECIPES */

.recipes {
  padding: 20px 0;
}

.recipes-detail {
  margin: 0;
  font-weight: normal;
}

.recipes-detail img {
  width: 940px;
  height: 280px;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 50px;
}

.recipes-detail h1 {
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
  text-align: center;
  color: #111111;
  margin-left: 4px;
  /* display: inline-flex; */
}

.recipes-detail h3 {
  font-size: 20px;
  line-height: 24px;
  color: #777777;
  text-align: center;
  font-weight: normal;
  margin-bottom: 50px;
}

.recipes-detail h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #111111;
  margin-bottom: 20px;
  display: inline-block;
}

.recipes-detail-content {
  position: relative;
}

.recipes-detail ul {
  margin-bottom: 40px;

}

.recipes-detail li {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  list-style-position: inside;
}

.recipes-detail p {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  margin-bottom: 50px;
}

.recipes-detail .hide {
  margin: 0;
  padding: 8px;
  font-size: 12px;
  font-weight: bold;
  color: #999999;
  text-decoration: none;
  cursor: pointer;
}

.off {
  display: table-column;
}