{% extends "layout.njk" %}

{% block content %}

      <main>
        <div class="banner">
          <div class="banner-text">
            <p class="title">As melhores receitas</p>
            <p class="text">Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
          </div>
          <img src="/chef.png" alt="Chef">
        </div>

        <div class="wrapper">
          <h1>Receitas</h1>

          <div class="cards">

            <div class="card">
              <img src="/burger.png" alt="Triplo bacon burger">
              <p class="img-title">Triplo bacon burger</p>
              <p class="img-chef">por Jorge Relato</p>
            </div>

          </div> <!--cards-->

        </div>
      </main>

{% endblock %}