{% extends "layout.njk" %}

{% block head %}

  <title>Portfolio - Stenio Oliveira</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}


{% block content %}

  <div id="wrapper">
    <h1>Aulas</h1>
  </div>

  <section class="cards">

    <div class="card" id="GykTLqODQuU">
   
      <div class="card_image-container">
        <img src="https://img.youtube.com/vi/GykTLqODQuU/maxresdefault.jpg" alt="Video Aula">
      </div>
    
      <div class="card_content">
        <p>Formulário Animado com JS puro e CSS Animation | Mayk Brito</p>
      </div>

      <div class="card_info">
        <p>57 min</p>
        <p class="card_price">FREE</p>
      </div>
    
    </div>

    <div class="card" id="2alg7MQ6_sI">
   
      <div class="card_image-container">
        <img src="https://img.youtube.com/vi/2alg7MQ6_sI/maxresdefault.jpg" alt="Video Aula">
      </div>
    
      <div class="card_content">
        <p>Git e Github na Prática | Mayk Brito</p>
      </div>

      <div class="card_info">
        <p>33 min</p>
        <p class="card_price">FREE</p>
      </div>
    
    </div>

    <div class="card" id="GSqR2i-Pq6o">
   
      <div class="card_image-container">
        <img src="https://img.youtube.com/vi/GSqR2i-Pq6o/maxresdefault.jpg" alt="Video Aula">
      </div>
    
      <div class="card_content">
        <p>Desvendando a Variável THIS | Mayk Brito</p>
      </div>

      <div class="card_info">
        <p>48 min</p>
        <p class="card_price">FREE</p>
      </div>
    
    </div>

    <div class="card" id="HN1UjzRSdBk">
   
      <div class="card_image-container">
        <img src="https://img.youtube.com/vi/HN1UjzRSdBk/maxresdefault.jpg" alt="Video Aula">
      </div>
    
      <div class="card_content">
        <p>Desvendando o CSS Grid na Prática | Mayk Brito</p>
      </div>

      <div class="card_info">
        <p>36 min</p>
        <p class="card_price">FREE</p>
      </div>
    
    </div>

    <div class="card" id="ghTrp1x_1As">
   
      <div class="card_image-container">
        <img src="https://img.youtube.com/vi/ghTrp1x_1As/maxresdefault.jpg" alt="Video Aula">
      </div>
    
      <div class="card_content">
        <p>O Que É API? REST e RESTFUL? | Mayk Brito</p>
      </div>

      <div class="card_info">
        <p>33 min</p>
        <p class="card_price">FREE</p>
      </div>
    
    </div>

    <div class="card" id="rAzHvYnQ8DY">
   
      <div class="card_image-container">
        <img src="https://img.youtube.com/vi/rAzHvYnQ8DY/maxresdefault.jpg" alt="Video Aula">
      </div>
    
      <div class="card_content">
        <p>ARRAY: High Order Functions | Mayk Brito</p>
      </div>

      <div class="card_info">
        <p>54 min</p>
        <p class="card_price">FREE</p>
      </div>
    
    </div>

 </section>

 <!-- MODAL -->

 <div class="modal-overlay">

  <div class="modal">
    <a class="close-modal">
      <i class="material-icons">close</i>
    </a>

    <div class="modal-content">
      <iframe src="" frameborder="0"></iframe>
    </div>
  </div>

 </div>

<!-- SCRIPTS -->
 <script src="./scripts.js"></script>

 {% endblock %}