@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #282a36;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
}

header {
  padding: 32px;
  border-bottom: 1px solid #333;
  background: rgba(0,0,0,0.1);
}

.links {
  text-align: center;
}

.links a {
  color: white;
  font-size: 18px;
  line-height: 28px;
  margin: 0 16px;
  text-decoration: none;
}

.links a:hover {
  color: #50fa7b;
  transition: color 0.2s;
}

#wrapper {
  text-align: center;
  padding: 28px;

}

#wrapper img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  border: 5px solid #50fa7b;
  margin-bottom: 24px;
}

#wrapper h1 {
  font-size: 38px;
  line-height: 48px;
  font-weight: bold;
}

#wrapper h2 {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.8;
}

#wrapper p {
  max-width: 500px;
  margin: 0px auto;
  margin-top: 18px;
  font-size: 16px;
  line-height: 26px;
}

#wrapper p a {
  color: #50fa7b
}

#footer a {
  border-bottom: 1px solid #50fa7b;
}

/* CARDS */

.cards {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

}

.card {
  background-color: #7159c1;
  display: grid;
  cursor: pointer;

}

.card_image-container img {
  width: 100%;

}

.card_content,
.card_info {
  padding: 24px;
}

.card_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.card_price {
  background-color: #7159c1;
  filter: brightness(90%);
  border-radius: 6px;
  text-align: center;
  padding: 5px;
}

/* MODAL */

.modal-overlay {
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: #fff;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
  padding: 0;
}

.modal .close-modal {
  color:#000;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

/* MODAL ACTIVE */

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

iframe {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 5vh;
}

/* FEATURED */

.featured-wrapper.card_image-container {
  position: relative;
}

.featured {
  background-color: #f7d05f;
  color: #111;
  padding: 2px 8px;
  position: absolute;
  right: 5px;
  top:-10px;
  border-radius: 16px;
}

/* VIDEO PAGE */
.video {
  margin: 0 auto;
  max-width: 800px;
}

.card_video-container {
  position: relative;
  padding-top: 62.5%;
}

.card_video-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}