<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {% block head %}
  
  <title>Foodfy Admin</title>
  
  {% endblock %}

  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/admin.css">

</head>
<body>

  <div class="content-admin">
    
    <header>
      <a href="/admin/recipes" class="logo-admin"><img src="/logo-admin.png" alt="Foodfy Admin" class="logo"></a>
    </header>

    {% block content %}
    {% endblock %} 

  </div>
  
</body>
</html>