{% extends "../layout.njk" %}

{% block content %}

<main>
  
  <div class="recipes">
    <div class="header">
      <h1>Gerenciar receitas</h1>
      <button type="submit" onclick="window.location.href='/admin/recipes/{{recipes.id}}/edit'">Editar receita</button>
    </div>
      <div class="recipes-detail">
        <img src="{{recipes.image}}" alt="{{recipes.title}}">
        <h1>{{recipes.title}}</h1>
        <h3>{{recipes.author}}</h2>
        
        <div class="recipes-detail-content">
            
          <h2>Ingredientes</h2>
          <a class="hide">Esconder</a>

          <div class="info">
            <ul>
              {% for ingredient in recipes.ingredients%}
                <li>- {{ingredient}}</li>
              {% endfor %}
            </ul>
          </div>

          <h2>Modo de Preparo</h2>
          <a class="hide">Esconder</a>
          
          <div class="info">
            <ul>
              {% for prepare in recipes.preparation %}
                <li>- {{prepare}}</li>
              {% endfor %}
            <ul>
          </div>

          <h2>Informações Adicionais</h2>
          <a class="hide">Esconder</a>
          
          <div class="info">
            <p>{{recipes.information}}</p>
          </div>

      </div>

    </div>

    
  </div>

</main>

{% endblock %}