{% extends "layout.njk" %}


{% block content %}

<div class="wrapper">
  <img class="img-logo" src="/assets/logo-rocketseat.png" alt="Rocketseat">
  <h1>ERROR 404</h1>
  <h1>PÁGINA NÃO ENCONTRADA</h1>

</div>

<div class="footer">
  <a href="http://youtube.com/rocketseat">YouTube</a>
  <a href="http://fb.com/rocketseat">Facebook</a>
  <a href="http://twitter.com/rocketseat">Twitter</a>
  <a href="http://instagram.com/rocketseat_oficial">Instagram</a>
</div>

{% endblock %}