{% extends "layout.njk" %}

{% block content %}

<div class="card">

  <section class="image" style="background: url({{teacher.avatar_url}}) no-repeat center center / cover"></section>

  <section class="detail">
  
    <h3>Detalhes</h3>

    <div class="items">
      <div>Nome Completo</div>
      <div>{{teacher.name}}</div>
    </div>

    <div class="items">
      <div>Idade</div>
      <div>{{teacher.age}} anos</div>
    </div>

    <div class="items">
      <div>Grau Escolaridade</div>
      <div>
        {% if (teacher.grade) == "highSchool" %}
          Ensino Médio Completo
        {% elif (teacher.grade) == "graduate" %}
          Ensino Superior Completo
        {% else %}
          Mestrado e Doutorado
        {% endif %}
      </div>
    </div>

    <div class="items">
      <div>Tipo de Aula</div>
      <div>
        {{"Presencial" if (teacher.classroom) == "presential" else "À Distância"}}
      </div>
    </div>

    <div class="items">
      <div>Acompanhamento</div>
        <div>
          {% for course in teacher.courses %}
          <span>{{course}}</span>
          {% endfor %}
        </div>
    </div>

    <div class="items">
      <div>Desde</div>
      <div>{{teacher.created_at}}</div>
    </div>

    <a href="#" class="button">Editar</a>

  </section>

</div>

{% endblock content %}