<html>
  <head>
    <title>Class Manager</title>

    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

    <header>

      <div class="links">
        <a href="/">Teachers</a>
        <a href="/students">Students</a>
      </div>
    
    </header>
    
  </body>
</html>