{% extends "layout.njk" %}

{% block content %}

<div class="card">

  <section class="image" style="background: url(https://source.unsplash.com/collection/10085420/900x900) no-repeat center center / cover"></section>

  <section class="detail">
  
    <h3>Detalhes</h3>

    <div class="items">
      <div>Nome Completo</div>
      <div>Stenio Oliveira</div>
    </div>

    <div class="items">
      <div>Idade</div>
      <div>29 anos</div>
    </div>

    <div class="items">
      <div>Grau Escolaridade</div>
      <div>Doutorado</div>
    </div>

    <div class="items">
      <div>Tipo de Aula</div>
      <div>Presencial</div>
    </div>

    <div class="items">
      <div>Acompanhamento</div>
        <div>
          <span>Matemática</span>
          <span>Física</span>
        </div>
    </div>

    <div class="items">
      <div>Desde</div>
      <div>06/05/2020</div>
    </div>

  </section>

</div>

{% endblock content %}