<!DOCTYPE html>
<html>
  <head>

    <title>Sobre</title>
    
    <link rel="icon" href="https://blog.rocketseat.com.br/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="../public/styles.css" class="css">

  </head>

  <body>

    <header>
      <div class="menu">
        <a href="./">Sobre</a>
        <a href="./desafio2-3.html">Conteúdos</a>
      </div>
    </header>

    <div class="wrapper">
      <img class="img-logo" src="../assets/logo-rocketseat.png" alt="Rocketseat">
      <h1>Rocketseat</h1>
      <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h2>

      <p>Principais Tecnologias:</p>
      
      <ul>
        <li>NodeJS</li>
        <li>ReactJS</li>
        <li>React Navite</li>
      </ul>
    </div>

    <div class="footer">
      <a href="http://youtube.com/rocketseat">YouTube</a>
      <a href="http://fb.com/rocketseat">Facebook</a>
      <a href="http://twitter.com/rocketseat">Twitter</a>
      <a href="http://instagram.com/rocketseat_oficial">Instagram</a>
    </div>

  </body>
</html>