{% extends "layout.njk" %}

{% block head %}
  <title>Sobre</title>
{% endblock %}

{% block content %}
<div class="wrapper">
  <img class="img-logo" src="./assets/logo-rocketseat.png" alt="Rocketseat">
  <h1>Rocketseat</h1>
  <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h2>

  <p>Principais Tecnologias:</p>
  
  <ul>
    <li>NodeJS</li>
    <li>ReactJS</li>
    <li>React Navite</li>
  </ul>
</div>

<div class="footer">
  <a href="http://youtube.com/rocketseat">YouTube</a>
  <a href="http://fb.com/rocketseat">Facebook</a>
  <a href="http://twitter.com/rocketseat">Twitter</a>
  <a href="http://instagram.com/rocketseat_oficial">Instagram</a>
</div>
{% endblock %}