{% extends "../layout.njk" %}

{% block content %}

<main>

  <div class="recipes">

    <div class="chefs-cards">

      <div class="chef-card">
        <div>
          <img src="https://github.com/steniooliv.png" alt="{[card.title}}" srcset="">
        </div>
        <div>
          <h1>Stenio Oliveira{{card.title}}</h1>
          <h2>4 receitas</h2>
        </div>
      </div>

      <div class="chef-card">
        <div>
          <img src="https://github.com/steniooliv.png" alt="{[card.title}}" srcset="">
        </div>
        <div>
          <h1>Stenio Oliveira{{card.title}}</h1>
          <h2>4 receitas</h2>
        </div>
      </div>

      <div class="chef-card">
        <div>
          <img src="https://github.com/steniooliv.png" alt="{[card.title}}" srcset="">
        </div>
        <div>
          <h1>Stenio Oliveira{{card.title}}</h1>
          <h2>4 receitas</h2>
        </div>
      </div>

      <div class="chef-card">
        <div>
          <img src="https://github.com/steniooliv.png" alt="{[card.title}}" srcset="">
        </div>
        <div>
          <h1>Stenio Oliveira{{card.title}}</h1>
          <h2>4 receitas</h2>
        </div>
      </div>

    </div>

  </div>    

</main>



{% endblock content %}