{% extends "../layout.njk" %}

{% block header %}

<div class="filter">
  <form action="/search">
    <input type="text" name="filter" placeholder="Buscar uma receita">
    <button type="submit">Buscar</button>
  </form>
</div>

{% endblock %}

{% block content %}

      <main>
        <div class="banner">
          <div class="banner-text">
            <p class="title">As melhores receitas</p>
            <p class="text">Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
          </div>
          <img src="/chef.png" alt="Chef">
        </div>

        <div class="wrapper">
          <h1>Mais acessadas</h1>

          <div class="cards">

              <div class="card">
                <img src="/asinhas.png" alt="Asinhas">
                <p class="img-title">Asinhas ao Molho</p>
                <p class="img-chef">Stenio Oliveira</p>
              </div>

            

          </div> <!--cards-->

        </div>
      </main>

{% endblock %}