{% extends "../layout.njk" %}

{% block content %}

<main>

  <div class="cards">

    {% for item in data %}

      <div class="card">
        <img src="{{item.image}}" alt="{{item.title}}">
        <p class="img-title">{{item.title}}</p>
        <p class="img-chef">{{item.author}}</p>
      </div>

    {% endfor %}

  </div> 

</main>

{% endblock %}