{% extends "../layout.njk" %}

{% block content %}

<main>

  <div class="cards">

    <div class="card">
      <img src="/asinhas.png" alt="{{item.title}}">
      <p class="img-title">Asinhas ao Molho</p>
      <p class="img-chef">Stenio Oliveira</p>
    </div>


  </div> 

</main>

{% endblock %}