@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #8d858a;
}

.links {
  width: 100%;
  text-align: center;
  background-color: #FFF;
  padding: 24px;
  box-sizing: border-box;
}

.links a {
  font-size: 24px;
  line-height: 28px;
  color: #ff00bf;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.links a + a {
  margin-left: 32px;
}

.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ff00bf;
  position: absolute;
  top: -4px;
  left: 0;
}

.links a:hover::after {
  width: 100%;
  transition: width 300ms ease;
}