{% extends "../layout.njk" %}

{% block content %}

<main>
  
  <div class="recipes">

    <div class="header">
      <h1>Chef: {{chef.name}}</h1>
      <button type="submit" onclick="window.location.href='/admin/chefs/{{chef.id}}/edit'">Editar Chef</button>
    </div>

    <div class="chefs-detail">
      <img src="{{chef.avatar_url}}" alt="{{chef.name}}">
      <h1>{{chef.name}}</h1>
      <h3>{{totalRecipes}} Receitas</h2>

      <div class="chefs-recipes">
            
        <h2>Receitas</h2>

        <div class="cards">

          {% for recipe in recipes %}

            <div class="card">
              <div>
                <img src="{{recipe.image}}" alt="{[recipe.title}}" srcset="">
              </div>
              <div>
                <h1>{{recipe.title}}</h1>
                <h2>por {{chef.name}}</h2>
                <a href="/admin/recipes/{{recipe.id}}" class="link">Visualizar</a>
              </div>
            </div>

          {% endfor %}

        </div>

      </div>
    </div>
  </div>

</main>


{% endblock %}